body {
	background-color: #aaaaaa;
}

div.top_layer {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black;
}

div#header {
	background-color: #cccccc;
}

div#menubar {
	background-color: black;
}

div#menubar li {
	color: white;
}

div#main_content {
	background-color: #fcfcfc;
}

div#progress {
	background-color: #f0f1ff;
}

div#footer {
	background-color: #f0f0f0;
}