<form action="/list" method="POST">
	<label for="order">Sort by</label>
	<select name="order" id="order">
		<option value="rank">Rank (default)</option>
		<option value="title">Title</option>
		<option value="year">Year</option>
	</select>
	<br />
	<label for="rank">elect a rank to highlight</label>
	<select name="rank" id="rank">
		<% 1.upto(100) do |i| %>
			<option value=<%=i%>><%=i%></option>
		<% end %>
	</select>
	<br />
	<input type="submit" value="Display List" />
</form>