<!DOCTYPE html>
<html>
	<head>
		<title>Top 100 Albums of All Time</title>
		<style type="text/css">
			.rank<%= @rank %> {background-color:black;color:white;}
		</style>
	</head>
	<body>
		<h1>Rolling Stone's Top 100 Albums of All Time</h1>
		<%= yield %>
	</body>
</html>